.login-container {
}

.login-card {
  margin: 60px;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  border: none;
}

.card-title {
  margin-bottom: 20px;
  color: #007bff;
}

.form-group label {
  color: #333;
}

.form-control {
  border-radius: 5px;
}

.btn-primary {
  margin-top: 7px;
  background-color: #007bff;
  border-color: #007bff;
  width: 100%;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-google {
  margin-top: 5px;
  background-color: #db4437;
  border: none;
  color: white;
  width: 100%;
}

.btn-google:hover {
  background-color: #c33222;
  border: none;
}

.btn-google .mr-2 {
  margin-right: 8px;
}